@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
    margin: 0%;
    padding: 0%;

    font-family: 'Luckiest Guy', cursive;
}

.bg-teal {
    background-color: #004261;
    color: #fff;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #7BC5B9;
    border: 0.4rem solid #099696;
    border-radius: 10px;

    color:#004261;
    font-size: 1.2rem;
}

.flash-card {
    padding: 0.5rem 1rem;
    background-color: #7BC5B9;
    border: 0.4rem solid #099696;
    border-radius: 10px;

    color:#004261;
    font-size: 1.2rem;
}